*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    border: solid black;
}
header{
    border: solid black;
    height: 2vw;
    text-align: right;

}
section {
    display:inline-block;
    border: solid black;

}

#section01 {
width: 44%;
height: 67vh;
    
}
#section02 {
    width: 55%;
    height: 67vh;
    padding-top: 15%;
    
}


.display {
    display: block;
    width: 100%;
    margin: 5px;

}

#sumit{
    background-color: black;
    color: white;
    margin-top: 20px;
}

#content {
    height: 50px;
 }

h1 {
    border-radius: 50%; 
    align-items: center;
    text-align: center;
    display: flex;
    background-color: rgb(145, 145, 7) ;
    height: 50%;
    width: 50%;
    justify-content: center;
    position: relative;
    left: 100px;
    top : 100px

 }

 h2 {
    text-align: center;

 }


